:root {
  --RedLight: #e00036;
  --RedDark: #a90029;
  --RedErrorMessage: #ff003d;
  --GreenSuccessMessage: #00cf2e;
  --LightGray: #d9d9d9;
  --DarkGray: #444444;
  --DeepGray: #262626;
  --GrayPlaceHolder: #585858;
  --White: #fff;
  --HoverTextColor: #ffc5c5;
}

// ------------------------------------
// General Styles
// ------------------------------------

.title-general {
  font-size: 70px;
  font-weight: 700;
  text-align: center;
  color: var(--White);

  @media (max-width: 1000px) {
    font-size: 30px;
  }
}

.container-general {
  max-width: 1440px;
  margin: 0 auto;
  overflow-x: hidden;
}

// ------------------------------------
// Header
// ------------------------------------

//Header Setup global

#header-main {
  background-color: var(--RedLight);
  color: var(--White);
  width: 100%;
  position: fixed;
  box-shadow: 0px 0px 50px var(--DarkGray);
  z-index: 2;
}

//Header Desktop

#header-desktop {
  display: flex;
  justify-content: center;
  padding: 0px 58px;
  align-items: center;

  @media (max-width: 752px) {
    display: none;
  }
}

.header-desktop-nav {
  display: flex;
  max-width: 1440px;
  justify-content: center;

  a {
    cursor: pointer;
    text-align: center;
    padding: 30px 20px;
    color: var(--White);
    text-decoration: none;
    list-style-type: none;
    font-size: 15px;
    font-weight: 700;
    transition: 600ms;

    @media (max-width: 912px) {
      font-size: 10px;
    }
  }

  a:hover {
    transition: 600ms;
    font-weight: 900;
    color: var(--HoverTextColor)
  }
}

.header-desktop-theme {
  padding-right: 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.header-desktop-language {
  margin-left: 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

//Header Mobile

#header-mobile {
  display: none;

  @media (max-width: 752px) {
    display: contents;
  }
}

.header-mobile-bar {
  padding: 20px 5%;
  display: flex;
  justify-content: space-between;
}

.hamburguer {
  display: content;
  width: 35px;
  z-index: 0;
  cursor: pointer;
  background: none;
  border: none;
}

.header-mobile-side-bar {
  position: fixed;
  top: 0;
  left: unset;
  width: 348px;
  height: 100vh;
  background-color: var(--RedLight);
  z-index: 1;
  transition: 1s;
  transform: translateX(-100%);
  backdrop-filter: blur(10px);
}

.header-mobile-side-bar.is-active {
  transform: translateX(0);
}

.header-mobile-side-bar-top {
  z-index: 1;
  padding: 15px 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-mobile-side-bar-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100vh;

  a {
    width: 100%;
    padding: 23px 0;
    text-align: center;
    text-decoration: none;
    color: var(--White);
    font-weight: 300;
    cursor: pointer;
  }

  a:hover {
    background-color: var(--RedDark);
    color: var(--HoverTextColor);
    font-weight: 700;
  }
}

.header-mobile-side-bar-top-XIcon {
  cursor: pointer;
}

.header-mobile-side-bar-top-Icons {
  display: flex;
}

.header-mobile-side-bar-top-Language {
  cursor: pointer;
  margin-left: 19.5px;
}

.header-mobile-side-bar-top-Theme {
  cursor: pointer;
}

.header-theme-selected {
  background-color: blue;
}

// -------------------------------------
// Home Page
// ------------------------------------

#home-main-container {
  max-width: 1440px;
  padding-top: 150px;
  margin: 0 auto;
}

.home-main-container-1 {
  display: flex;
  align-items: center;
  justify-content: center;

  @media (max-width: 1000px) {
    flex-direction: column;
    text-align: center;
  }
}

.home-profile-picture {
  width: 500px;
  height: 500px;
  animation: homeProfile 5s ease infinite;
  border: 6px double var(--RedLight);
  border-radius: 50%;

  @media (max-width: 1000px) {
    width: 400px;
    height: 400px;
    margin-bottom: 25px;
    box-shadow: none;
  }

  @media (max-width: 430px) {
    width: 320px;
    height: 320px;
    box-shadow: none;
  }
}

@keyframes homeProfile {
  0% {
    border-color: var(--DeepGray);
    box-shadow: 0px 5px 40px 0px #4444447e;

    @media (max-width: 1000px) {
      box-shadow: none;
    }
  }

  25% {
    border-color: var(--RedLight);
    box-shadow: 0px 5px 40px 0px #e000346e;

    @media (max-width: 1000px) {
      box-shadow: none;
    }
  }

  50% {
    border-color: var(--DeepGray);
    box-shadow: 0px 5px 40px 0px #4444447e;

    @media (max-width: 1000px) {
      box-shadow: none;
    }
  }

  75% {
    border-color: var(--RedLight);
    box-shadow: 0px 5px 40px 0px #e000346e;

    @media (max-width: 1000px) {
      box-shadow: none;
    }
  }

  100% {
    border-color: var(--DeepGray);
    box-shadow: 0px 5px 40px 0px #4444447e;

    @media (max-width: 1000px) {
      box-shadow: none;
    }
  }
}

.home-paragraph-1 {
  margin-bottom: 15px;
  font-size: 100px;
  font-weight: 900;
  font-style: italic;
  color: var(--DarkGray);

  @media (max-width: 1118px) {
    font-size: 90px;
  }

  @media (max-width: 1000px) {
    display: none;
  }
}

.home-paragraph-2 {
  margin-bottom: 15px;
  font-size: 60px;
  font-weight: 900;
  font-style: italic;
  color: var(--DarkGray);

  @media (max-width: 1118px) {
    font-size: 45px;
  }

  @media (max-width: 1000px) {
    display: none;
  }
}

.home-paragraph-3 {
  font-size: 35px;
  margin: 15px 0px;
  font-weight: 900;
  font-style: italic;
  color: var(--DarkGray);

  @media (max-width: 1118px) {
    font-size: 25px;
  }

  @media (max-width: 1000px) {
    font-size: 21px;
    margin: 5px 0px;
  }
}

.home-column2 span {
  color: var(--RedLight);
}

#home-button {
  margin-top: 10px;
  width: 350px;
  height: 70px;
  color: var(--White);
  background-color: var(--RedLight);
  font-size: 25px;
  font-weight: 900;
  font-style: italic;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 500ms;
  box-shadow: 0px 5px 20px 0px #e000347c;

  @media (max-width: 1000px) {
    margin-top: 15px;
    width: 150px;
    height: 34px;
    font-size: 15px;
  }
}

.home-column2 {
  margin-left: 30px;
  display: flex;
  flex-direction: column;

  @media (max-width: 1000px) {
    align-items: center;
    margin-left: 0;
  }
}

.home-paragraph-1And2-mobile {
  display: none;

  @media (max-width: 1000px) {
    display: contents;
    font-size: 21px;
    font-weight: 900;
    font-style: italic;
    color: var(--DarkGray);
  }
}

.home-social-medias {
  margin-top: 50px;
  padding-left: 25px;
  display: flex;
  justify-content: flex-start;
  gap: 75px;

  @media (max-width: 1000px) {
    margin-top: 25px;
    gap: 25px;
    padding-left: 0px;
  }
}

.home-social-medias-a {
  cursor: pointer;
}

.home-main-container-2 {
  display: flex;
  justify-content: center;
  margin: 100px 0;

  @media (max-width: 1000px) {
    display: none;
  }
}

// ------------------------------------
// MY PROJECT SECTION
// ------------------------------------

#my-projects-container {
  margin-top: 85px;
  background-color: var(--RedLight);
  padding: 102px 0px;
}

.project-title {
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  color: var(--White);

  @media (max-width: 1000px) {
    font-size: 27px;
  }
}

.project-sub-title {
  text-align: center;
  font-size: 30px;
  font-weight: 500;
  color: var(--White);
  margin: 0px 0 10px 0;

  @media (max-width: 1000px) {
    font-size: 20px;
    margin: 0 0 0 0;
  }
}

.project-link-button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.project-button {
  cursor: pointer;
  width: 255px;
  height: 50px;
  color: var(--RedLight);
  font-size: 20px;
  font-weight: 700;
  border: none;
  border-radius: 5px;
  background-color: var(--White);
  transition: 500ms;

  @media (max-width: 1000px) {
    width: 182px;
    height: 34px;
    font-size: 15px;
  }
}

.project-button:hover,
.EAS-college-button:hover,
#home-button:hover,
.modal-button-project:hover {
  background-color: var(--DarkGray);
  color: var(--White);
  transition: 500ms;
}

.div-each-project {
  max-width: 550px;
  width: 90%;
}

.div-project-image {
  display: flex;
  align-items: center;
}

.project-image {
  width: 450px;
  height: 450px;
  object-fit: cover;
  margin: 0px auto 17px;
  border: 1px solid var(--DarkGray);
  box-shadow: 10px 10px 30px 10px rgba(0, 0, 0, 0.4);
  overflow-x: hidden;

  @media (max-width: 1000px) {
    width: 350px;
    height: 350px;
  }
}

.my-project-tec-img {
  cursor: pointer;
  margin: 0 5px;
}

.my-project-tec-images {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 5px 13px;

  @media (max-width: 1000px) {
    margin: 5px 5px 10px;
  }
}

.img-icon {
  margin: 0 5px;
}

.project-view {
  gap: 60px 30px;
  display: flex;
  justify-content: center;
  max-width: 1440px;
  margin-top: 90px;
  flex-wrap: wrap;

  @media (max-width: 1000px) {
    margin-top: 40px;
  }
}

// ------------------------------------
// Education & Skills
// ------------------------------------

#education-and-skills-page {
  margin: 120px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media(max-width: 1000px){
    margin: 60px 0px;
  }
}

.EAS-title-general {
  font-size: 50px;
  font-weight: 700;
  color: var(--RedLight);
  margin-right: 25px;

  @media (max-width: 1000px) {
    font-size: 25px;
  }
}

.EAS-title-section {
  text-align: center;
  color: var(--RedLight);
  font-weight: 700;
  font-size: 35px;
  padding: 30px 0 30px 0;
  flex-grow: 0;
  margin: 0 30px 0 30px;

  @media (max-width: 1000px) {
    font-size: 20px;
  }
}

.subtitle-and-canvas {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
}

.bar-before,
.bar-after {
  display: flex;
  flex-direction: row;
  background-color: var(--RedLight);
  height: 3px;
  flex-grow: 1;

  @media (max-width: 1000px) {
    height: 1px;
  }
}

.title-and-canvas {
  margin: 90px auto 30px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;

  @media (max-width: 1000px) {
    margin: 40px auto 15px auto;
  }
}
.column-1-teste {

  flex-grow: 0;
}
.column-2-teste {

  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.bar-1 {
  background-color: var(--RedDark);
  height: 16px;
  border-radius: 0 5px 0 0;

  @media (max-width: 1000px) {
    height: 8px;
  }
}

.bar-2 {
  background-color: var(--RedLight);
  height: 16px;
  border-radius: 0 0 5px 0;

  @media (max-width: 1000px) {
    height: 8px;
  }
}

// ------------------------------------
// College Section (Education And Skills)
// ------------------------------------

.allColeges {
  display: flex;
  justify-content: center;
}

.EAS-college-img-and-info {
  display: flex;
  align-items: center;
  justify-content: center;

  @media (max-width: 450px) {
    width: 80%;
    max-width: 350px;
  }
}

.EAS-college-title {
  font-size: 30px;
  margin-bottom: 16px;
  font-weight: 700;
  color: var(--RedLight);
  word-wrap: inherit;
  cursor: alias;

  @media (max-width: 1000px) {
    font-size: 22px;
    margin-bottom: 5px;
  }
}

.EAS-college-info {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 16px;
  color: var(--DarkGray);

  @media (max-width: 1000px) {
    font-size: 15px;
    margin-bottom: 5px;
  }
}

// ------------------------------------
// Skills Section (Education And Skills)
// ------------------------------------

.professional-Skill-star {
  margin-left: 125px;
  position: fixed;
  z-index: 1;

  @media (max-width: 1000px) {
    margin-left: 60px;
  }
}

.EAS-college-info-div {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.EAS-college-picture {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 10%;

  @media (max-width: 1000px) {
    width: 100px;
    height: 100px;
  }
}

.EAS-college-button {
  width: 225px;
  height: 55px;
  background-color: var(--RedLight);
  color: var(--White);
  font-size: 20px;
  font-weight: 700;
  border: none;
  border-radius: 5px;
  transition: 500ms;

  @media (max-width: 1000px) {
    display: none;
  }
}

.EAS-skills-picture {
  width: 125px;
  height: 125px;
  margin-top: 5px;
  object-fit: cover;
  border-radius: 10%;

  @media (max-width: 1000px) {
    width: 60px;
    height: 60px;
  }
}

.container-certificates {
  padding: 0 auto;
}

.allCertificates {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  flex-wrap: wrap;
  gap: 30px;
}

.EAS-certificates {
  display: flex;
  align-items: center;
  width: 80%;
  max-width: 350px;
}

.EAS-certificates-picture {
  width: 125px;
  height: 125px;
  object-fit: cover;

  @media (max-width: 1000px) {
    width: 85px;
    height: 85px;
  }
}
.canvas-teste {

  margin: 0 2px;
  background-color: var(--RedLight);
  height: 20px;
  width: 18px;
  z-index: -1;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);

  @media (max-width: 1000px) {
    width: 14px;
    height: 15px;
    margin: 0 1px;
  }
}
.canvas-teste2 {

  margin: 0 2px;
  background-color: var(--LightGray);
  height: 20px;
  width: 18px;
  z-index: -1;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);

  @media (max-width: 1000px) {
    width: 14px;
    height: 15px;
    margin: 0 1px;
  }
}

.EAS-certificates-div-icon-text {
  display: flex;
  align-items: center;
}

.EAS-certificates-div-text {
  margin: 5px 0px 0px 10px;
  color: var(--DarkGray);
  font-size: 15px;
  font-weight: 700;

  @media (max-width: 1000px) {
    font-size: 12px;
    margin-left: 5px;
  }
}

.EAS-certificates-title {
  font-size: 22px;
  font-weight: 700;
  color: var(--RedLight);
  text-align: start;
  text-decoration: underline;
  cursor: pointer;

  @media (max-width: 1000px) {
    font-size: 20px;
  }
}

.EAS-certificates-title-link {
  border: none;
  background: none;
}

.EAS-certificates-div {
  margin-left: 15px;
}

//------------------------------------------------------------------------------
//------------------------------------------------------------------------------

.allSkills {
  justify-content: center;
  display: flex;
  flex-direction: row;
  max-width: 95vw;
  margin: 0 auto;
}

.EAS-skills {
  display: flex;
  margin: 0 20px;
  align-items: center;
  flex-direction: column;
}

.EAS-skills-title {
  word-wrap: break-word;
  text-align: center;
  width: 200px;
  font-size: 26px;
  font-weight: 700;
  color: var(--RedLight);
  margin: 10px 0px;

  @media (max-width: 1000px) {
    font-size: 20px;
  }
}

.job-title {
  font-weight: 700;
  color: var(--White);
  font-size: 35px;

  @media (max-width: 1000px) {
    font-size: 21px;
  }
}

.job-company-name,
.job-time {
  font-size: 25px;
  font-weight: 500;
  color: var(--White);
  margin: 10px 0px;

  @media (max-width: 1000px) {
    font-size: 15px;
    margin: 3px 0px;
  }
}

.job-responsibilities {
  font-size: 20px;
  font-weight: 400;
  color: var(--White);
  text-align: justify;
  line-height: 27px;

  @media (max-width: 1000px) {
    display: none;
  }
}

.job-responsibilities span {
  color: rgb(255, 255, 255);
  letter-spacing: 0.5px;
  font-weight: 800;
  text-decoration: underline;
  transition: 500ms;
}

.job-responsibilities span:hover {
  letter-spacing: 0.75px;
  transition: 500ms;
}

.job-image {
  width: 335px;
  height: 335px;
  object-fit: cover;
  border-radius: 20px;

  @media (max-width: 1000px) {
    width: 100px;
    height: 100px;
  }
}

.job-entire-item {
  display: flex;
  margin: 70px 0px;

  @media (max-width: 1000px) {
    margin: 0 0 50px 0;
    align-items: center;
  }
}

.job-entire-item-paragraph {
  margin-left: 30px;

  @media (max-width: 1000px) {
    margin-left: 15px;
  }
}

.block-of-jobs {
  margin: 0px auto;
  padding-top: 20px;
  width: 90%;

  @media (max-width: 1000px) {
    margin: 40px auto 0px auto;
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    padding-top: 0px;
  }
}

#job-experiences-container {
  margin: 85px 0px;
  background-color: var(--RedLight);
  padding: 170px 0px;

  @media (max-width: 1000px) {
    padding: 90px 0px;
    margin: 60px 0px;
  }
}

.job-button,
.job-button-link {
  cursor: pointer;
  display: none;
  margin-top: 7px;
  width: 130px;
  height: 30px;
  background-color: var(--White);
  color: var(--RedLight);
  font-weight: 700;
  font-size: 14px;
  border-radius: 2px;
  border: none;
  text-decoration: none;
  transition: 600ms;

  @media (max-width: 1000px) {
    display: block;
  }
}

.job-button:hover {
  background-color: var(--DarkGray);
  color: var(--White);
  transition: 600ms;
}

#about-me-container {
  width: 85%;
  max-width: 1000px;
  margin: 0 auto;

  @media (max-width: 1000px) {
    display: flex;
    flex-direction: column;
  }
}

.about-me-image {
  height: 300px;
  width: 300px;
  border-radius: 5%;
  border: 5px double var(--DarkGray);
  float: left;
  margin-right: 20px;

  @media (max-width: 1000px) {
    width: 200px;
    height: 200px;
  }
}

.about-me-text {
  color: var(--DarkGray);
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  text-align: justify;
  cursor: default;

  @media (max-width: 1000px) {
    font-size: 15px;
    font-weight: 500;
  }
}

.about-me-span {
  color: var(--DarkGray);
  font-weight: 700;
  transition: 500ms;
}

.about-me-span:hover {
  letter-spacing: 0.5px;
  transition: 500ms;
}

.about-me-container-items {
  margin: 90px 0px;

  @media (max-width: 1000px) {
    margin: 40px 0px;
  }
}

#contact-me-container {
  background-color: var(--RedLight);
}

.contact-me-form-social {
  margin-top: 90px;
  display: flex;
  justify-content: center;

  @media (max-width: 1000px) {
    flex-direction: column-reverse;
    align-items: center;
    margin-top: 40px;
  }
}

.contact-me-left-side {
  background-color: var(--White);
  width: 378px;
  height: 618px;
  border-radius: 10px;

  @media (max-width: 1000px) {
    width: 361px;
    height: 567px;
  }
}

#form-contact-me {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#name-field,
#email-field,
#name-field::placeholder,
#email-field::placeholder,
#email-field:focus {
  margin-top: 30px;
  width: 390px;
  height: 70px;
  border-radius: 5px;
  outline: none;
  border: none;
  color: var(--DeepGray);
  font-size: 15px;
  font-weight: 700;
  padding-left: 5px;

  @media (max-width: 1000px) {
    width: 323px;
    height: 55px;
  }
}

#textBox-field,
#textBox-field::placeholder {
  margin-top: 30px;
  width: 390px;
  height: 200px;
  outline: none;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 700;
  color: var(--DeepGray);
  padding: 5px;

  @media (max-width: 1000px) {
    width: 323px;
    height: 170px;
  }
}

.title-form-right-side {
  margin: 30px 0px 5px 0px;
  color: var(--White);
  font-size: 30px;
  font-weight: 700;

  @media (max-width: 1000px) {
    font-size: 23px;
    margin-bottom: 3px;
  }
}

.button-right-side-form {
  width: 250px;
  height: 45px;
  background-color: var(--RedLight);
  color: var(--White);
  border: none;
  border-radius: 5px;
  margin-top: 40px;
  font-weight: 700;

  @media (max-width: 1000px) {
    height: 40px;
    width: 230px;
    margin-top: 30px;
  }
}

.form-field-error-msg {
  color: var(--RedLight);
  text-align: center;
  margin-top: 5px;
  z-index: 0;
  position: absolute;
}

.left-side-item-a {
  display: flex;
  align-items: center;
  text-decoration: none;

  @media (max-width: 1000px) {
    flex-direction: row-reverse;
  }
}

.left-side-item {
  margin: 25px 35px 0px 0px;

  @media (max-width: 1000px) {
    margin: 26px 26px 0px 26px;
  }
}

.social-media-name {
  margin-right: 15px;
  color: var(--RedLight);
  font-size: 20px;
  font-weight: 500;

  @media (max-width: 1000px) {
    margin: 0 0 0 15px;
  }

  @media (max-width: 600px) {
    font-size: 18px;
  }
}

.left-side-all-items {
  display: flex;
  flex-direction: column;
  align-items: end;

  @media (max-width: 1000px) {
    align-items: start;
  }
}

.left-side-form-above-title {
  height: 1px;
  width: 230px;
  margin-top: 20px;
  background-color: var(--DarkGray);
  border-radius: 2px;
}

.left-side-form-title {
  font-size: 30px;
  color: var(--RedLight);
  font-weight: 700;
  margin-top: 55px;

  @media (max-width: 1000px) {
    margin-top: 25px;
  }
}

.left-side-title-and-canvas {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#contact-me-container {
  padding: 174px 0px;

  @media (max-width: 1000px) {
    padding: 100px 0 57px 0;
  }
}

.EAS-college-button {
  cursor: pointer;
}

// Modal settings
// Modal settings
// Modal settings
// Modal settings

/* Modal background overlay */
.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* Modal container */
.modal-container {
  margin: 0;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  width: 750px;
  position: relative;
  z-index: 1001;
  overflow-y: auto;
  max-height: 70vh;

  @media (max-width: 750px) {
    width: 370px;
    //max-height: 600px;
  }
}

.modal-container::-webkit-scrollbar {
  width: 12px;
  /* Largura da barra de rolagem */
}

.modal-container::-webkit-scrollbar-track {
  background: #f1f1f1;
  /* Cor do fundo da barra de rolagem */
  border-radius: 8px;
}

.modal-container::-webkit-scrollbar-thumb {
  background: #888;
  /* Cor da barra de rolagem */
  border-radius: 8px;
}

.modal-container::-webkit-scrollbar-thumb:hover {
  background: #555;
  /* Cor da barra de rolagem ao passar o mouse */
}

.modal-container-cert {
  margin: 0;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  width: 550px;
  position: relative;
  z-index: 1001;

  @media (max-width: 750px) {
    width: 370px;
  }
}

/* Modal header */
.modal-header {
  display: flex;
  border-radius: 8px 8px 0 0;
  background-color: var(--RedLight);
  height: 70px;
  align-items: center;
  position: fixed;
  width: 751px;
  box-shadow: 0px 0px 20px var(--DarkGray);

  @media (max-width: 750px) {
    width: 370px;
    height: 50px;
  }
}

.modal-header-cert {
  display: flex;
  border-radius: 8px 8px 0 0;
  background-color: var(--RedLight);
  height: 70px;
  align-items: center;
  position: fixed;
  width: 550px;
  box-shadow: 0px 0px 20px var(--DarkGray);

  @media (max-width: 750px) {
    width: 370px;
    height: 50px;
  }
}

/* Close button */
.modal-close-button {
  background: none;
  border: none;
  cursor: pointer;
  margin-left: 30px;

  @media (max-width: 750px) {
    width: 15px;
  }
}

.modal-header-title {
  color: var(--White);
  margin: 0 auto;
  padding-right: 68px;
  font-size: 28px;
  font-weight: 700;

  @media (max-width: 750px) {
    font-size: 18px;
    padding-right: 48px;
  }
}

.modal-img {
  background-color: gray;
  width: 150px;
  height: 150px;
  margin-left: 20px;
  border: 1px solid var(--DarkGray);
  object-fit: cover;
  box-shadow: 2px 2px 20px 1px rgba(0, 0, 0, 0.4);
  float: left;

  @media (max-width: 750px) {
    width: 130px;
    height: 160px;
    margin-left: 0px;
  }
}

.modal-body-text-area {
  margin: 0px 20px;
}

.modal-body-title {
  font-size: 28px;
  font-weight: 700;

  @media (max-width: 750px) {
    margin-top: 20px;
    font-size: 23px;
    text-align: center;
  }
}

.modal-body-sub-title {
  font-size: 21px;
  font-weight: 500;
  margin-bottom: 10px;

  @media (max-width: 750px) {
    font-size: 17px;
    text-align: center;
    margin-bottom: 5px;
  }
}

.modal-text {
  font-size: 20px;
  text-align: justify;
  color: var(--DarkGray);

  @media (max-width: 750px) {
    font-size: 15px;
  }
}

.modal-button-project {
  width: 188px;
  height: 50px;
  margin: 10px 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: center;
  align-items: center;
  background-color: var(--RedLight);
  text-decoration: none;
  cursor: pointer;
  transition: 500ms;
  box-shadow: 4px 4px 10px 2px rgba(0, 0, 0, 0.4);

  @media (max-width: 750px) {
    width: 100px;
    height: 26px;
    margin: 0 5px;
  }
}

/* Modal body */
.modal-body {
  display: flex;
  margin: 20px 0px;
  padding-top: 70px;

  @media (max-width: 750px) {
    padding-top: 40px;
    flex-direction: column;
    align-items: center;
  }
}

.modal-footer {
  display: flex;
  justify-content: center;
  margin: 30px 0px;
}

body.modal-open {
  overflow: hidden;
}

.modal-button-project-text {
  color: var(--White);
  margin: 0 auto;
  padding-right: 40px;

  @media (max-width: 750px) {
    font-size: 13px;
    padding: 0px;
  }
}

.modal-button-project-icon {
  margin: 0px 10px;

  @media (max-width: 750px) {
    margin: 0px;
    padding-left: 10px;
  }
}

.modal-link-a {
  text-decoration: none;
}

.modal-block-info-cert-all {
  display: flex;
  flex-direction: column;
  padding: 20px 0px 0px 30px;

  @media (max-width: 750px) {
    padding: 20px 0px 0px 0px;
    //margin-left: 20px;
  }
}

.modal-block-info-cert {
  margin-bottom: 20px;
}

.modal-cert-title {
  font-size: 20px;
  font-weight: 700;
  color: var(--RedLight);
  margin-bottom: 10px;

  @media (max-width: 750px) {
    font-size: 16px;
  }
}

.modal-cert-value {
  font-size: 17px;
  font-weight: 500;
  color: var(--DarkGray);
  width: 90%;
  max-width: 320px;
  text-wrap: wrap;

  @media (max-width: 750px) {
    font-size: 13px;
  }
}

.modal-cert-value-a{
  text-decoration: underline;
  color: var(--RedLight);
}

.swiper-button-prev,
.swiper-button-next {
  color: var(--RedLight) !important;

}

.list-json-experience {
  margin-left: 30px;
  cursor: default;
}

//MODAL JOB EXPERIENCES


.modal-job-img {
  width: 100px;
  height: 100%;
  object-fit: cover;
  border: 2px solid var(--DarkGray);
  border-radius: 10%;

  @media(max-width: 750px) {
    height: 100px;
  }
}

.modal-job-body {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 90%;
  padding-top: 70px;
}

.modal-body-img-and-info-right {
  padding-top: 20px;
  margin-left: 20px;

  @media(max-width: 750px) {
    padding-top: 10px;
    margin-left: 15px;
  }
}

.modal-body-img-and-info {
  display: flex;
  margin: 20px 0px 30px 0px
}

.modal-job-company-name {
  font-size: 25px;
  font-weight: 900;

  @media(max-width: 750px) {
    font-size: 23px;
  }
}

.modal-job-time {
  font-size: 20px;
  font-weight: 700;

  @media(max-width: 750px) {
    font-size: 18px;
  }
}

.modal-job-title {
  font-size: 18px;
  font-weight: 500;

  @media(max-width: 750px) {
    font-size: 16px;
  }
}

.modal-job-title-responsibilities {
  padding-bottom: 10px;
  font-weight: bold;
  font-size: 18px;

  @media(max-width: 750px) {
    font-size: 16px;
  }
}

.modal-job-responsibilities {
  margin-bottom: 30px;
  text-align: justify;
  color: var(--DarkGray);

  @media(max-width: 750px) {
    font-size: 14px;
  }
}

.modal-job-responsibilities span {
  letter-spacing: 1px;
  color: var(--DeepGray);
  text-decoration: underline;
  font-weight: 700;
  transition: 500ms
}

.modal-job-responsibilities span:hover {
  letter-spacing: 2px;
  transition: 500ms;
}


.X-icon-svg {
  transition: 1000ms;
  transform: rotate(270deg);
}

.X-icon-svg:hover {
  transform: rotate(30deg);
  transition: 1000ms;
}

.span-title{
  font-weight: 800;
  color: black;
  margin-bottom: 10px;
}

.span-emphasis{
  font-weight: 700;
  color: black;
}

.modal-project-list{
  margin-left: 25px;
}